html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row {
  margin: 0 auto;
  max-width: 960px; }

.clearfix:after {
  content: "";
  clear: both;
  display: table; }

@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-facebook:before {
  content: "\f09a"; }

.fa-telegram:before {
  content: "\f2c6"; }

.fa-vk:before {
  content: "\f189"; }

.fa-instagram:before {
  content: "\f16d"; }

.fa-youtube-play:before {
  content: "\f16a"; }

.fa-envelope-o:before {
  content: "\f003"; }

@font-face {
  font-family: 'Room';
  src: local("Room"), url("fonts/Room.otf") format("opentype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Room';
  src: local("Room"), url("fonts/Room-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Room';
  src: local("Room"), url("fonts/Room-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'AADuke-Fill';
  src: local("AADuke-Fill"), url("fonts/AADuke-Fill.otf") format("opentype");
  font-weight: 500;
  font-style: normal; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 500 1em Room, sans-serif; }

input, textaea, button {
  outline: none; }

h3 {
  display: inline-block;
  font: 600 1.875em/11.59px Room, sans-serif; }

h3.main-title {
  letter-spacing: .3px;
  text-transform: capitalize; }
  h3.main-title span {
    margin-top: -2px;
    border-bottom: 3px solid #e12229; }

header {
  width: 100%;
  height: 600px;
  background: #fff url(../img/block-bottom.png) no-repeat 0 bottom;
  -webkit-background-size: 100% 175px;
  background-size: 100% 175px; }

.header-top {
  height: 75px; }

.header-logo {
  float: left;
  margin-left: -26px; }

.header-nav {
  float: right;
  width: 719.5px; }

.header_nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header_nav-item {
  display: inline-block; }

.header_nav-item:first-child {
  margin-left: -13px; }

.header_nav-item:nth-child(2) {
  margin-left: 19px; }

.header_nav-item:nth-child(3) {
  margin-left: 3px; }

.header_nav-item:nth-child(4) {
  margin-right: 11px; }

.header_nav-link:-webkit-any-link {
  display: block;
  padding-top: 11px;
  color: #05070a;
  text-decoration: none;
  text-transform: uppercase;
  font: 600 1.375em/59px "Room";
  border-bottom: 5px solid transparent; }

.header_nav-link:-moz-any-link {
  display: block;
  padding-top: 11px;
  color: #05070a;
  text-decoration: none;
  text-transform: uppercase;
  font: 600 1.375em/59px "Room";
  border-bottom: 5px solid transparent; }

.header_nav-link:any-link {
  display: block;
  padding-top: 11px;
  color: #05070a;
  text-decoration: none;
  text-transform: uppercase;
  font: 600 1.375em/59px "Room";
  border-bottom: 5px solid transparent; }

.header_nav-link:not(.active):hover {
  color: #c1272d;
  border-bottom: 5px solid #e12229; }

.header_nav-link.active:-webkit-any-link {
  border-bottom: 5px solid #e12229; }

.header_nav-link.active:-moz-any-link {
  border-bottom: 5px solid #e12229; }

.header_nav-link.active:any-link {
  border-bottom: 5px solid #e12229; }

.header_slider-wrap {
  margin-top: 75px; }

.header-slider {
  width: 880px;
  margin-left: 86px; }

.header_slider-item {
  width: 850px;
  height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header_slider-content {
  float: left;
  margin: 43px 0 0 46px;
  margin: 43px 0 0 0;
  max-width: 380px;
  text-align: center;
  position: relative; }
  .header_slider-content .arrows {
    height: 276px;
    color: #c1272d;
    display: block;
    font: 500 3.125em "Room"; }
  .header_slider-content .arrows:first-child {
    float: left;
    margin-right: 10px; }
  .header_slider-content .arrows:last-child {
    float: right;
    margin: -60px 0 0 1px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.header_slider-text {
  float: left;
  margin-top: 15px;
  letter-spacing: 1.1px;
  font: 500 1.5em/30px "Room"; }

.header_slider-img {
  top: -1px;
  right: 31px;
  float: right;
  position: absolute;
  z-index: 9; }

/* Slider */
.slick-slider {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }
  .slick-slider * {
    outline: none; }

.slick-list {
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  position: relative; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: hand;
  cursor: pointer; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  display: none;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-dots {
  left: 256px;
  bottom: -56px;
  position: absolute; }
  .slick-dots li {
    display: inline-block;
    background: url(../img/slider-dot.png) no-repeat center; }
    .slick-dots li button {
      border: none;
      cursor: pointer;
      background: none;
      opacity: 0; }
  .slick-dots li:not(:last-child) {
    margin-right: 41px; }
  .slick-dots li:nth-child(2) {
    margin-right: 46px; }
  .slick-dots li:nth-child(3) {
    margin-right: 46px; }
  .slick-dots .slick-active {
    background: url(../img/slider-dot-active.png) no-repeat center; }

.main-whowe {
  height: 644px;
  height: 556px;
  text-align: center;
  padding-top: 136px;
  position: relative;
  background: #040201 url(../img/whoWe-bg.png) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover; }

.main-whowe:after {
  left: 0;
  bottom: -88px;
  width: 100%;
  content: '';
  height: 88px;
  position: absolute;
  background: url(../img/whoWe-bottom.png) no-repeat 0;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; }

.main_whowe-list {
  margin-top: 67px;
  margin-left: -1px; }

.main_whowe-item {
  float: left; }

.main_whowe-item:first-child {
  width: 160px;
  margin-right: 70px; }

.main_whowe-item:nth-child(2) {
  width: 219.5px;
  margin-top: -5px;
  margin-right: 59px; }

.main_whowe-item:nth-child(3) {
  width: 210px;
  margin-top: 1px;
  margin-right: 70px; }

.main_whowe-item:nth-child(4) {
  width: 170px;
  margin-top: -9px; }
  .main_whowe-item:nth-child(4) .main_whowe-topic {
    margin-top: 4px; }

.main_whowe-title {
  color: #fff;
  margin-left: -7px; }

.main_whowe-list {
  text-align: left; }

.main_whowe-ico {
  display: block; }

.main_whowe-topic {
  color: #fff;
  margin-top: 7px;
  padding-bottom: 2px;
  display: inline-block;
  letter-spacing: 1.7px;
  border-bottom: 3px solid #e12229;
  font: 500 0.87687em Room, sans-serif; }

.main_whowe-content {
  color: #fff;
  margin-top: 11px;
  min-height: 123.19px;
  letter-spacing: .25px;
  font: 500 0.875em/14px Room, sans-serif; }

.main_whowe-slogan {
  color: #fff;
  margin-top: 3px;
  letter-spacing: .25px;
  font: 500 0.875em/14px Room, sans-serif; }

.main-events {
  height: 644px;
  height: 644px;
  margin-top: 120px;
  text-align: center;
  position: relative;
  background: url(../img/block-bottom.png) no-repeat 0 bottom;
  -webkit-background-size: 100% 175px;
  background-size: 100% 175px;
  z-index: 99; }

/*.main-events:after
	left: 0
	bottom: 120px
	content: ''
	width: 100%
	height: 175px
	position: absolute
	z-index: 1*/
.main_events-title {
  top: 3px;
  left: 50%;
  margin-left: -52.085px;
  color: #05070a;
  position: absolute;
  z-index: 999; }

.main_events-slider {
  text-align: left;
  max-width: 1204px;
  margin: 0 auto; }

.main_events-item {
  height: 375px;
  padding: 85px 0 2px;
  background: #fff url(../img/events-bg.png) no-repeat -72px 0; }
  .main_events-item .row {
    width: 620px;
    padding-left: 33px; }

.main_events-topic {
  max-width: 587px;
  text-transform: uppercase;
  font: 500 1.875em/36px "AADuke-Fill", sans-serif; }

.main_events-content {
  margin-top: 13px;
  max-width: 587px;
  font: 500 0.875em/17px "Room", sans-serif; }

.main_events-counter {
  margin-top: 21px;
  overflow: hidden; }

.main_events-date {
  float: left;
  position: relative;
  margin-right: 23px;
  color: #c1272d;
  letter-spacing: .1px;
  font: 500 3.125em "AADuke-Fill", sans-serif; }
  .main_events-date .month {
    margin: 0 3px 0 3px; }

.main_events-btn {
  border: 0;
  color: #fff;
  height: 40px;
  display: inline-block;
  margin-top: 8px;
  padding: 0 16px;
  text-align: center;
  letter-spacing: .3px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #c1272c;
  font: 700 1.125em/40px "Room", sans-serif;
  cursor: pointer;
  z-index: 999; }
  .main_events-btn .icon {
    float: right;
    margin: 10px 0 0 8px; }

.main_events-btn:hover {
  background-color: #000; }

.events-dots {
  left: 50%;
  margin-left: -135.555px;
  bottom: -76px;
  z-index: 999; }

.main-gallery {
  height: 800px;
  text-align: center;
  position: relative;
  background: #000 url(../img/gallery-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 99; }
  .main-gallery .row {
    padding-top: 123px; }

.main_gallery-list {
  margin-left: -6px; }
  .main_gallery-list * {
    outline: none; }

.main_gallery-tab {
  color: #fff;
  display: inline-block; }

.main_gallery-tab:first-child {
  margin-right: 31px; }

.main_gallery-link:-webkit-any-link {
  color: #fff;
  letter-spacing: .3px;
  text-decoration: none;
  font: 600 1.87625em "Room"; }

.main_gallery-link:-moz-any-link {
  color: #fff;
  letter-spacing: .3px;
  text-decoration: none;
  font: 600 1.87625em "Room"; }

.main_gallery-link:any-link {
  color: #fff;
  letter-spacing: .3px;
  text-decoration: none;
  font: 600 1.87625em "Room"; }

.ui-state-active .main_gallery-link:-webkit-any-link {
  border-bottom: 3px solid #e12229; }

.ui-state-active .main_gallery-link:-moz-any-link {
  border-bottom: 3px solid #e12229; }

.ui-state-active .main_gallery-link:any-link {
  border-bottom: 3px solid #e12229; }

.main_gallery-slider {
  margin: 52px 0 0 -6px; }
  .main_gallery-slider .slick-slide:not(.slick-current) {
    margin-top: 75px; }
  .main_gallery-slider .slick-current {
    width: 500px;
    height: 301px;
    margin: 0 -90px;
    position: relative;
    z-index: 99; }
  .main_gallery-slider .slick-slide:not(.slick-active) {
    visibility: hidden; }

.main_gallery-item {
  width: 250px;
  height: 150px; }

.main_gallery-img {
  width: 100%;
  height: auto;
  border: 1px solid #c1272c; }

.main_gallery-arrow {
  top: 50%;
  border: 0;
  width: 25px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  margin-top: -16.5px;
  background-color: transparent;
  z-index: 99; }

.main_gallery-prev {
  left: 4px;
  background: url(../img/arrow-left.png) no-repeat center; }

.main_gallery-next {
  right: 10px;
  background: url(../img/arrow-right.png) no-repeat center; }

footer {
  height: 400px;
  position: relative;
  background-color: #474747; }
  footer .row {
    position: relative; }

.footer-map {
  top: -130px;
  right: 24px;
  position: absolute;
  z-index: 99; }

.footer-bottom {
  width: 100%;
  height: 190px;
  margin-top: 211px;
  background: url(../img/footer-bottom.png) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; }

.footer-inner {
  top: 106px;
  left: 57px;
  position: relative; }

.footer-slogan {
  color: #fff;
  float: left;
  letter-spacing: .3px;
  font: 700 1.875em "Room"; }
  .footer-slogan span:first-child {
    margin-left: 7px; }
  .footer-slogan span:nth-child(2) {
    margin-left: 2px; }
  .footer-slogan span:nth-child(3) {
    margin-left: 2px; }

.footer-list {
  float: right; }

.footer-item {
  display: inline-block; }

.footer-item:not(:last-child) {
  margin-right: 20px; }

.footer_item-link {
  color: #fff;
  padding: 4px;
  display: block;
  font-size: 2em;
  text-decoration: none;
  border: 2px solid transparent; }

.footer_item-link:not(:last-child) {
  margin-right: 10px; }

.footer_item-link:hover {
  text-shadow: 0 0 20px #fff; }

.footer_item-link.fb {
  width: 28px;
  height: 45px;
  background: transparent url(../img/footer-fb.png) no-repeat center; }

.footer_item-link.tg {
  width: 49px;
  height: 37px;
  background: transparent url(../img/footer-tg.png) no-repeat center; }

.footer_item-link.vk {
  width: 60px;
  height: 30px;
  background: transparent url(../img/footer-vk.png) no-repeat center; }

.footer_item-link.inst {
  width: 30px;
  height: 30px;
  background: transparent url(../img/footer-inst.png) no-repeat center; }

.footer_item-link.yt {
  width: 45px;
  height: 30px;
  background: transparent url(../img/footer-yt.png) no-repeat center; }

.footer_item-link.mail {
  width: 42px;
  height: 30px;
  background: transparent url(../img/footer-mail.png) no-repeat center; }

@media (min-width: 1224px) {
  .main_events-item {
    background: #fff url(../img/events-bg.png) no-repeat 0 0;
    -webkit-background-size: 100% 100%;
    background-size: 100%; } }

@media (max-width: 1140px) {
  .main_events-item {
    -webkit-background-size: 0 0;
    background-size: 0; } }
